{% extends 'user/index.html' %}

{% block content %}
    <body>
        <form class="form-signin" method="post">
          {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Please Sign UP</h1>

            <input class="form-control" placeholder="Username" name="username">
            <input class="form-control" placeholder="Password" name="password">
            <input class="form-control" placeholder="Email" name="email">
            <input class="form-control" placeholder="Firt Name" name="first_name">
            <input class="form-control" placeholder="Last Name" name="last_name">
            <input class="form-control" placeholder="Secret Word" name="secret word">

            <a href="{% url 'login'%}" class="float-left">Login</a>
            <a href="" class="float-right">Password reset</a>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            <p class="mt-5 mb-3 text-muted">© 2033-2034</p>
        </form>
    </body>
{% endblock %}