{% extends 'articles/index.html' %}
{% load staticfiles %}

{% block content %}

    {% if user.is_authenticated %}
        <form class="form-signin" method="post" enctype = "multipart/form-data">
            {% csrf_token %}

            <input class="form-control" placeholder="Title" name="title">
            <input class="form-control" placeholder="Content" name="content">
            <input class="btn btn-lg btn-block" type = "file" placeholder = "Picture" name = "picture" />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Создать сообщение</button>
        </form>
    {% endif %}



    {% if articles %}
        <ul class="list-group list-group-flush" >
        {% for e in articles %}
            <li class="list-group-item">
                <a href="{% url 'delete' e.0 %}">Удалить статью</a>
                <a href="{% url 'change' e.0 %}">Изменить статью</a>
                <br>
                {{ e.0 }}
                {{ e.1 }}
                {{ e.2 }}
                {{ e.3 }}
                {{ e.4 }}
                <br>
                <img src="media/{{ e.5 }}" alt="">
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {# Pagination start #}
         </div>
            <div class="pagination ">
                <div class="large-3 large-offset-5 columns">
                    <ul class="pagination pagination-sm">
                        {% if articles.has_previous %}
                            <li class="arrow page-item"><a href="/page/{{ articles.previous_page_number }}/" class="page-link">&laquo;</a></li>
                        {% else %}
                            <li class="arrow unavailable  page-item"><a href="" class="page-link">&laquo;</a></li>
                        {% endif %}
                        {% for page in articles.paginator.page_range %}
                            {% if page == articles.number %}
                                <li class="current  page-item"><a href="/page/{{ page }}/" class="page-link"> {{ page }} </a></li>
                            {% else %}
                                <li class=" page-item"><a href="/page/{{ page }}/" class="page-link"> {{ page }} </a></li>
                            {% endif %}
                        {% endfor %}
                        {% if articles.has_next %}
                            <li class="arrow  page-item"><a href="/page/{{ articles.next_page_number }}/" class="page-link">&raquo;</a></li>
                        {% else %}
                            <li class="arrow unavailable  page-item"><a href="" class="page-link">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
{# pagination end #}
{% endblock %}